.input {
  margin: 0 20px;
  text-align: start;
  padding: 0 10px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  color: #fff;
  background: hsla(0,0%,100%,.1);
  width: 274px;
  height: 45px;
  outline: none;
  transition: .7s;
}
